In [ ]:
import pandas as pd

df_future_fixture = pd.read_csv('fifa_worldcupfixture.csv')
df_Historical_data= pd.read_csv('World_cup_Historical_Data.csv')
df_missing_data= pd.read_csv('fifa_worldcup_missing_fixtures.csv')

In [ ]:
df_future_fixture['home'] = df_future_fixture['home'].str.strip() #this strip method cleans up the extra spaces in between the word/text
df_future_fixture['away'] = df_future_fixture['away'].str.strip()

In [12]:
df_future_fixture

            home         score          away  year
0         Qatar            0–2       Ecuador  2022
1       Senegal            0–2   Netherlands  2022
2         Qatar            1–3       Senegal  2022
3   Netherlands            1–1       Ecuador  2022
4       Ecuador            1–2       Senegal  2022
..           ...           ...           ...   ...
59      England            1–2        France  2022
60    Argentina            3–0       Croatia  2022
61       France            2–0       Morocco  2022
62      Croatia            2–1       Morocco  2022
63    Argentina   3–3 (a.e.t.)        France  2022

[64 rows x 4 columns]